@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25px;
	font-style: normal;
	font-weight: normal;
    max-width: 100%;
}

/*above-the-fold*/

.above-the-fold{
	background-color: #B2B2B2;

}

.wrapper{
    width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.head{
	width: 100%;
    margin-bottom: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.head a{	
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color:#000;
	margin-left: 28px;
}

.abf-content{
	background-image: url("images/Img_bg.jpg");			  
	background-repeat: no-repeat;	
	background-position: center right;
	min-height: 700px;
	margin: 0 auto;
    
}    

.titulo{
    margin-bottom: 16px;
 
    line-height: 25px;
}  

.titulo h1{
    font-family: 'Josefin Sans';
	font-weight: bold;
	font-size: 64px;
	line-height: 64px;
} 

.Iconos{
	width: 150px;
	margin-bottom: 18px;
}    

.bottom{
	width: 508px;
	height: 50px ;
	margin-bottom: 8px;
}    

.exclusivo{
    font-weight: bold;
	font-weight: 600;
	line-height: 25px;
}  

.combinalo{
    line-height: 25px;
}  

.button{
    background-color: #A213D4;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 35px;
}    

/* CSS SEE WHAT WE DO  */

.see-what-we-do{

    background-image: url(./images/swwd-back.jpg);
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 1400px;
    background-repeat: no-repeat;
    padding-top:55%;
    margin-bottom: 105px;
}

.wrapper-swwd{
    position: relative;
    min-height: 100vh;
}

.promo-box{
    position: absolute;
    top: 60vh;
    left: 4vw;
    max-width: 80vw;
}

.promo-text{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.promo-text-white{
    color:#FFFFFF
}

.promo{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 14px;
}
/* decripcion 1,2,3,4*/

.description{

}    

.description section{
    min-height: 600px;
    position: relative;
    margin-bottom: 100px;
}    

.description header{

}    
.description header h2 span{
    color: #A213D4;
}    

.description header h2{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #23262E;
    text-transform: uppercase;
    margin-bottom: 60px;
    width: 550px;
}    

.description header h6{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 4px;
}    


.description header p{
    width: 450px;
}    


.description img{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 700px;
}    


/* descripcion volumen*/

.volumen {
    width: 100%;
    background-size: cover;
    position: relative;
    background-image: url(images/88425565-traditional-french-breakfast-menu-background-cup-of-coffee-muesli-and-croissants-on-wooden-table-top.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    padding-top: 218px;
}

.description .volumen section{
    margin-bottom: 0px;
}    

.description header img{
    position: absolute;
    bottom: 0;
    left: 0;
}    

/*descripcion footer*/
footer{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    background-color: #23262E;
    font-style: normal;
    text-align: center;
    padding-top: 114px;
    padding-bottom: 140px;
    font-size: 18px;
    line-height: 25px; ;
}

footer h3{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
    
}

.instagram-page{
    margin-left: 15px;
    margin-right: 15px;
}

.icons-social{
    margin-bottom:150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    
    color: rgba(196, 196, 196, 0.31);
    text-align: center;
} 

@media (max-width: 480px) {
    .description-volumen {
        background-size: cover;
        background-position: 70% bottom;
    }
    .volume {
        left: 20px;
        width: 50%;
    }
    .block-text {
        left: 20px;
    }
    .description-volumen h2 {
        font-size: 38px;
        line-height: 1;
        margin-bottom: 14px;
    }
    footer p {
        font-size: 14px;
        padding: 0 24px;
    }



