.txt_negro {
    padding: 8px 16px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 25px;
    text-transform: uppercase;
    color: #000000;
}
span{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;  
    color:  #A213D4;
}
p{
    margin-top: 0px;
    padding: 8px 0px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
}
.txt_negro2{
    margin: 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    color: #000000;
}
.fondo{
    background-image: url('logo_wifi.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 450px;
    background-position: 500px 200px;
}