@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25px; ;
}

.wrapper{
    width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.description-img{
    background-image: url("img/cabinet-maker.jpg");			  
    background-repeat: no-repeat;	
    background-position: center right;
    min-height: 800px;
}

.txt_title{
    width: 187px;
    height: 25px;
    left: 150px;
    bottom: 2187px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    text-transform: uppercase;

    color: #000000;
}

.txt_2{
    width: 455px;
    height: 96px;
    left: 150px;
    bottom: 2087px;

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;

    color: #23262E;
}

.txt_pink{
    width: 306px;
    height: 48px;
    left: 150px;
    bottom: 2804px;

    font-family:'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;

    text-transform: uppercase;

    color: #A213D4;
}

.text_info{
    width: 401px;
    height: 74px;
    left: 150px;
    bottom: 1953px;
    margin-top: 60px;

    font-family: 'Open Sans' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #000000;
}
